@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'VT323', monospace;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Concert One', sans-serif;
font-family: 'Alata', sans-serif;
font-family: 'Press Start 2P';
*/

body{
    background-color: rgb(31, 41, 51);
}
.navbar{
    background-color: rgb(25, 35, 45) !important;
    font-family: 'Concert One', sans-serif;
}
h1{
    color: #DFDFDF;
    /*font-family: Alata !important;*/
    font-family: 'Concert One', sans-serif;
}
.icon{
    width: 45px;
}
p{
    color: #DFDFDF !important;
    /*font-family: Alata !important;*/
    font-family: 'Concert One', sans-serif;
}
.footer{
    background-color: rgb(25, 35, 45) !important;
    font-family: 'Concert One', sans-serif;
}
.card{
    background-color: rgb(25, 35, 45) !important;
    font-family: 'Concert One', sans-serif;
}
#main{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#main h5{
    color: #DFDFDF !important;
}
.capture{
    max-width: 100%;
}
.dell{
    max-width: 30vh !important;
}
.carte{
    min-width: 50%;
    max-width: 80%;
}